@model CDMIS.ViewModels.HealthPlanViewModel
@{
    ViewBag.Title = "患者健康计划";
   Layout = "~/Views/Shared/_PatientInfoLayout.cshtml";
}

<script type="text/javascript" src="../../Scripts/amcharts.js"></script>
<script type="text/javascript" src="../../Scripts/serial.js"></script>
<script type="text/javascript" src="../../Scripts/amstock.js"></script>



 <style>
.barbox{height:18px;line-height:18px;overflow:hidden;width:350px;margin:0px auto;padding:20px 0 0 0px;}
.barbox dd{float:left;}
.barbox dd.last{color:#0048CC;font-size:14px;margin-left:10px;}
.barbox dd.barline{width:100px;background:#E3E3E3;height:12px;overflow:hidden;margin:3px 10px 0 10px;display:inline;border-bottom:solid 1px #F4F4F4;border-right:solid 1px #F4F4F4;}

.barbox dd.barline div.proChart.barblue{background-position:0 -20px;border:1px solid #0A83E6;}
.barbox dd.barline div.proChart.barred{background-position:0 0;border:1px solid #C2142C;}
.barbox dd.barline div.proChart.baryellow{background-position:0 -10px;border:1px solid #EFA804;}
   
.barbox dd.barline div.proChart{height:10px;overflow:hidden;background:url(../../Content/Image/barbg.gif) repeat-x;} 
     
#thumbs li{display:inline;float:left;margin-right:0px;height:24px;font-size:20px;}

.lefttop{background:url(../../Content/Image/lefttop.gif) repeat-x;height:40px;color:#fff;font-size:14px;line-height:40px;}
.lefttop span{margin-left:8px; margin-top:10px;margin-right:8px; background:url(../../Content/Image/leftico.png) no-repeat; width:20px; height:21px;float:left;}
.leftmenu{width:187px;padding-bottom: 9999px;margin-bottom: -9999px;overflow:hidden; background:url(../../Content/Image/leftline.gif) repeat-y right;}
.leftmenu dd{repeat-x;line-height:35px;font-weight:bold;font-size:18px;border-right:solid 0px #b7d5df;}
.leftmenu dd span{float:left;margin:0px 8px 0 4px;}
.menuson {line-height:25px; font-weight:normal; }
.menuson li{font-size:16px;list-style-type:none;}
.menuson li.instruction{font-size:14px; margin-left:25px;}
.menuson li cite{display:block; float:left; margin-left:5px; background:url(../../Content/Image/list.gif) no-repeat; width:16px; height:16px; margin-top:7px;}


 </style>


 @Html.HiddenFor(model => model.UserId)

<div>

    


    <div id="load_first">
     <div id="thumbs" style="margin-top:0px;margin-bottom:10px;width:100%;height:30px;" align="center">
        <ul id="ul_target" style="margin:0 auto;overflow: hidden;width:700px">

        </ul>
     </div>
     
    </div>
  
    <div id="alertTextDiv" style="display: none; margin-top:60px" align="center">
            <p style="font-size: 20px; color: Blue;" id="alertText">当前无正在执行的计划</p>
    </div>

    <div id="graph_loading" style="display: none; margin-top:60px" align="center">
            <img alt="Load" src="/Content/Image/history_loading.gif" style="width:50px;height:50px;" />
            <p>加载中，请稍后</p>
        </div>  
  
  
    <div id="load_after">
  
       <div id="proRate" style="width:100%;height:30px">
          <div style="width:430px;height:25px;margin:0px auto;">
              <div class="progress" style="height:15px;width:100px;float:left;">
                    <div id="proRate_rate" class="progress-bar" role="progressbar" style="width:0%;"></div>
              </div>
              <div id="proRate_text" style="width:300px;float:left;font-size:18px;color:#0A83E6;margin-left:20px;margin-top:-5px;">进度0%，距离计划结束还有N天</div>
         </div>
      </div>

       <div style="width:100%;margin-top:5px;">
         <div id="taskList" style="float:left;width:160px;">
          
            <dl class="leftmenu">
            <h3>任务列表</h3>
            </dl>
          </div>
         
         <div id="noGragh" style="display: none;" align="center">
            <p style="font-size: 20px; color: Blue;">计划内无数据</p>
        </div>

         <div id="detail_plan" style="float:left;width:800px;margin-left:5%;">

       <div id="title_graph" style="width:700px;height:40px;display:block;margin-top:20px;" >
    
       <div style="width:150px;float:left;">
        <select name="switch" id="switch" style="font-size:18px;">
          <option value="0" selected="selected">收缩压</option>
          <option value="1" >舒张压</option>
        </select>
     </div>

       <div style="width:200px;float:left;">        
          <p><img alt="Load" src="../../Content/Image/original.png" style="width:30px;height:5px;" />&nbsp;起始值：<span id="BPoriginal"></span>mmHg</p>         
     </div>

       <div style="width:200px;float:left;">
        <p><img alt="Load" src="../../Content/Image/target.png" style="width:30px;height:5px;" />&nbsp;目标值：<span id="BPtarget"></span>mmHg</p>
     </div>

    </div>

       <div id="chartdiv" style="width:95%; height:450px;">
       </div>

       <div style="margin:20px auto;" align="center">  
          <p id="CompliacneValue" style="font-size:20px;color:#0048CC;"></p>
       </div>
   </div>

    </div>

  </div>

</div> 








<script type="text/javascript">

    //初始值
    var index = 0;
    var chart;
    var guides;
    $(document).ready(function () {
        $("#menu a").attr("id", ""); //Reset id's 
        $("#menu li:eq(0) a").attr("id", "current");


        var PatientId = document.getElementById("UserId").value;
        GetImplementationForPadF(PatientId, "M1");  //默认高血压模块

        $('#switch').change(function () {
            selectDataset($(this).children('option:selected').val());
        });
    });

    //GetImplementationForPadF
    function GetImplementationForPadF(PatientId, Module) {
        $.ajax({
            type: "GET",
            dataType: "json",
            url: '/PatientInfo/GetImplementationForWebFirst',
            async: false,
            data: { PatientId: PatientId,
                Module: Module
            },
            beforeSend: function () {
                $("#load_first").css("display", "none");
                $("#load_after").css("visibility", "hidden");
                $("#alertTextDiv").css("display", "none");
                $("#noGragh").css("display", "none");
                $("#graph_loading").css("display", "block");
            },
            success: function (data) {

                //计划列表 条数必》1
                var str_li = '';
                str_li += '<li id="li_play_prev" style="width:50px;visibility:hidden;"><img id="play_prev" src="/Content/Image/btn_prev.gif" width="20" height="13" title="上一计划" alt="上一计划" onclick="hookBtn(this.id);" /></li>';

                for (var i = 0; i < data.PlanList.length; i++) {
                    var id = "thumb_" + i.toString();
                    var planno = data.PlanList[i].PlanNo;
                    if (i == 0) {
                        str_li += ' <li id="' + id + '" name="' + planno + '" style="display:block;width:600px">' + data.PlanList[i].PlanName + '</li>';
                    }
                    else {
                        //str_li+=' <li id='+id+' name='+planno+' style="display:none;width:50%">'+ data.PlanList[i].PlanName+'</li>';
                        str_li += ' <li id="' + id + '" name="' + planno + '" style="display:none;width:600px">' + data.PlanList[i].PlanName + '</li>';
                    }
                }
                if (data.PlanList.length > 1) {
                    str_li += '<li id="li_play_next" style="width:50px"><img id="play_next" src="/Content/Image/btn_next.gif" width="20" height="13" title="下一计划" alt="下一计划"  onclick="hookBtn(this.id);"/></li>';
                }
                $('#ul_target').append(str_li);

                if (data.PlanList[0].PlanNo == "") //当前没有正在执行的计划
                {

                    $("#alertText").text("当前没有正在执行的计划");
                    $("#graph_loading").css("display", "none");
                    $("#load_after").css("visibility", "hidden");
                    $("#load_first").css("display", "block");
                    $("#alertTextDiv").css("display", "block");
                }

                else  //当前计划有正在执行
                {

                    //当前任务列表
                    if (data.TaskList.length > 0) {

                        var str_li_task = '';
                        for (var i = 0; i < data.TaskList.length; i++) {
                            if (data.TaskList[i].TaskType == "VitalSign") {
                                str_li_task += '<dd><div class="title"><span><img src="../../Content/Image/leftico01.png" /></span>体征测量</div><ul class="menuson">';
                            }
                            else if (data.TaskList[i].TaskType == "LifeStyle") {
                                str_li_task += '<dd><div class="title"><span><img src="../../Content/Image/leftico01.png" /></span>生活方式</div><ul class="menuson">';
                            }
                            else {
                                str_li_task += '<dd><div class="title"><span><img src="../../Content/Image/leftico01.png" /></span>用药任务</div><ul class="menuson">';
                            }

                            for (var j = 0; j < data.TaskList[i].TaskDeatilList.length; j++) {
                                str_li_task += ' <li><cite></cite>' + data.TaskList[i].TaskDeatilList[j].TaskName + '</li>';
                                if (data.TaskList[i].TaskDeatilList[j].Instruction != "") {
                                    str_li_task += ' <li class="instruction">' + data.TaskList[i].TaskDeatilList[j].Instruction + '</li>';
                                }
                            }
                            str_li_task += '</ul></dd>';

                        }
                        $('.leftmenu').append(str_li_task);
                    }


                    //进度、依从率
                    animate(data.ProgressRate, data.RemainingDays);

                    var CompliacneValue = data.CompliacneValue;
                    $("#CompliacneValue").text(CompliacneValue);


                    //画图
                    if ((data.chartData.graphList.length > 0) && (data.chartData.graphList != null))//有图表数据
                    {

                        //✔ ✘处理 
                        for (var m = 0; m < data.chartData.graphList.length; m++) {

                            var regS = new RegExp("noncomplete", "g");
                            data.chartData.graphList[m].drugDescription = data.chartData.graphList[m].drugDescription.toString().replace(regS, "✘");
                            var regS1 = new RegExp("complete", "g");
                            data.chartData.graphList[m].drugDescription = data.chartData.graphList[m].drugDescription.toString().replace(regS1, "✔");
                            var regS2 = new RegExp("###", "g");
                            data.chartData.graphList[m].drugDescription = data.chartData.graphList[m].drugDescription.toString().replace(regS2, "'");
                            var regS3 = new RegExp("amcharts-images/drug.png", "g");
                            data.chartData.graphList[m].drugBullet = data.chartData.graphList[m].drugBullet.toString().replace(regS3, "../../Content/Image/drug.png");
                        }

                        guides = data.chartData.BPGuide; //guide需要传出
                        createStockChart(data.chartData.graphList, 0);

                        $("#graph_loading").css("display", "none");
                        $("#alertTextDiv").css("display", "none");
                        $("#load_first").css("display", "block");
                        $("#load_after").css("visibility", "visible");
                        $("#detail_plan").css("visibility", "visible");

                    }
                    else //有任务、无图表数据
                    {
                        //$("#alertText").text("暂时无数据");$("#alertTextDiv").css("display", "block");
                        $("#graph_loading").css("display", "none");
                        $("#load_first").css("display", "block");
                        $("#noGragh").css("display", "block");
                        $("#detail_plan").css("visibility", "hidden");
                        $("#load_after").css("visibility", "visible");

                    }

                }
            },
            error: function (msg) { alert("Error!"); }
        });
    }

    //createStockChart
    function createStockChart(chartData, d) {

        //图上说明
        $("#BPoriginal").text(guides[0].original);
        $("#BPtarget").text(guides[0].target);
        //图
        chart = AmCharts.makeChart("chartdiv", {
            type: "stock",
            pathToImages: "../../Content/Image/",
            dataDateFormat: "YYYYMMDD",
            categoryAxesSettings: {
                //minPeriod: "mm"
                parseDates: true,
                minPeriod: "DD",
                dateFormats: [{
                    period: 'DD',
                    format: 'MM/DD'
                }, {
                    period: 'WW',
                    format: 'MM DD'
                }, {
                    period: 'MM',
                    format: 'MM/DD'
                }, {
                    period: 'YYYY',
                    format: 'YYYY'
                }]
            },

            dataSets: [{
                fieldMappings: [{
                    fromField: "SBPvalue",
                    toField: "SBPvalue"
                }, {
                    fromField: "DBPvalue",
                    toField: "DBPvalue"
                }, {
                    fromField: "drugValue",
                    toField: "drugValue"
                }],
                dataProvider: chartData,   //输入的变量
                categoryField: "date"
            }],
            valueAxesSettings: {
                inside: true,
                reversed: false
                //labelsEnabled:true				
            },
            panels: [{
                title: "血压 （单位：mmHg）",
                showCategoryAxis: false,
                percentHeight: 75,
                autoMargins: false,
                valueAxes: [{
                    id: "v1",
                    //strictMinMax:true,
                    //logarithmic : true,
                    //baseValue:115,     //起始值，Y线
                    //dashLength: 5,   //虚线
                    //title:"血压",
                    //axisThickness:4,
                    showFirstLabel: true,
                    showLastLabel: true,
                    //inside:false,
                    gridAlpha: 0,
                    //labelOffset:0,
                    labelsEnabled: false,
                    minimum: guides[0].minimum,  //parseFloat(guides[0].minimum)
                    maximum: guides[0].maximum,  //parseFloat(guides[0].maximum)
                    guides: guides[0].Guides

                }],

                categoryAxis: {
                    //dashLength: 5	
                },
                stockGraphs: [{
                    type: "line",
                    id: "graph1",
                    valueField: "SBPvalue",
                    lineColor: "#7f8da9",
                    lineColorField: "SBPlineColor",
                    lineThickness: 0,
                    lineAlpha: 0,
                    bullet: "round",
                    bulletField: "SBPbulletShape",
                    bulletSize: 12,
                    //bulletSizeField:"bulletSize",
                    //customBulletField : "customBullet", //客制化
                    bulletBorderColor: "#FFFFFF",
                    bulletBorderThickness: 1,
                    bulletBorderAlpha: 1,
                    showBalloon: true,
                    balloonText: "<b><span style='font-size:14px;'>[[SBPvalue]] </span></b>/[[DBPvalue]]<br>[[category]]"
                    //labelText:"[[nowDay]][[SBPvalue]]",

                    //ValueAxis:{
                    //id:"v1",
                    //strictMinMax:true
                    //maximum: 190,   //guide的第三和最后
                    //minimum: 65,
                    //}

                }],
                stockLegend: {     //有这个才能显示title
                    valueTextRegular: " ",
                    markerType: "none"
                    //autoMargins:false
                }
            },
					{
					    title: "依从情况",
					    showCategoryAxis: true,
					    //backgroundColor:"#CC0000",
					    percentHeight: 25,
					    valueAxes: [{
					        id: "v2",
					        gridAlpha: 0,
					        axisAlpha: 0,
					        labelsEnabled: false
					    }],
					    //dateFormats: "YYYYMMDD",
					    categoryAxis: {
					        //dashLength: 5
					    },
					    stockGraphs: [{
					        type: "line",
					        id: "graph2",
					        valueField: "drugValue",
					        lineColor: "#FFFFFF",
					        lineColorField: "drugColor",
					        lineThickness: 0,
					        lineAlpha: 0,
					        bullet: "round",
					        bulletSize: 20,
					        //bulletSizeField:"bulletSize",
					        customBulletField: "drugBullet", //客制化
					        bulletBorderColor: "#FFFFFF",
					        bulletBorderThickness: 2,
					        bulletBorderAlpha: 1,
					        showBalloon: true,
					        balloonText: "[[drugDescription]]"

					    }],
					    stockLegend: {     //有这个才能显示title
					        valueTextRegular: " ",
					        markerType: "none"
					    }
					}
				],
            balloon: {
                //fadeOutDuration:3,
                animationDuration: 0.1,
                maxWidth: 200,
                textAlign: "left",
                horizontalPadding: 12,
                verticalPadding: 4,
                fillAlpha: 0.8
                //offsetX:20
                //fixedPosition:true,
            },
            chartCursorSettings: {
                usePeriod: "7DD",
                //pan:false,
                //zoomable:true,
                //leaveCursor:"false",
                //cursorPosition:"middle",
                categoryBalloonEnabled: false,
                categoryBalloonAlpha: 1,
                categoryBalloonColor: "#ffff",
                categoryBalloonDateFormats: [{ period: "YYYY", format: "YYYY" }, { period: "MM", format: "YYYY/MM" }, { period: "WW", format: "YYYY/MM/DD" }, { period: "DD", format: "YYYY/MM/DD"}],
                valueLineEnabled: false,  //水平线
                valueLineBalloonEnabled: false,
                valueBalloonsEnabled: true  //上下值同时显现
                //graphBulletSize: 1,
            },
            chartScrollbarSettings: {  //时间缩放面板				    
                enabled: true,
                position: "top",
                autoGridCount: true, //默认
                graph: "graph1",
                graphType: "line",
                graphLineAlpha: 1,
                graphFillAlpha: 0,
                height: 30,
                dragIconHeight: 28,
                dragIconWidth: 20
                //usePeriod: "10mm",

            },
            responsive: {   //手机屏幕自适应
                enabled: true
            }
        });

    }

    //selectDataset 切换血压 
    function selectDataset(d) {

        $("#BPoriginal").text(guides[d].original);
        $("#BPtarget").text(guides[d].target);

        if (d == 1) {

            chart.panels[0].valueAxes[0].guides = guides[d].Guides;
            chart.panels[0].valueAxes[0].maximum = guides[d].maximum;
            chart.panels[0].valueAxes[0].minimum = guides[d].minimum;
            chart.panels[0].stockGraphs[0].valueField = "DBPvalue";
            chart.panels[0].stockGraphs[0].lineColorField = "DBPlineColor";
            chart.panels[0].stockGraphs[0].bulletField = "DBPbulletShape";
            chart.panels[0].stockGraphs[0].balloonText = "<b><span style='font-size:14px;'>[[DBPvalue]] </span></b>/[[SBPvalue]]<br>[[category]]";
            //chart.panels[0].stockGraphs[0].labelText="[[nowDay]][[DBPvalue]]";
        }
        else {

            chart.panels[0].valueAxes[0].guides = guides[d].Guides;
            chart.panels[0].valueAxes[0].maximum = guides[d].maximum;
            chart.panels[0].valueAxes[0].minimum = guides[d].minimum;
            chart.panels[0].stockGraphs[0].valueField = "SBPvalue";
            chart.panels[0].stockGraphs[0].lineColorField = "SBPlineColor";
            chart.panels[0].stockGraphs[0].bulletField = "SBPbulletShape";
            chart.panels[0].stockGraphs[0].balloonText = "<b><span style='font-size:14px;'>[[DBPvalue]] </span></b>/[[DBPvalue]]<br>[[category]]";
            //chart.panels[0].stockGraphs[0].labelText="[[nowDay]][[DBPvalue]]";
        }
        // chart.dataProvider = chartData[d];
        //alert(chart.panels[0].valueAxes[0].id);
        //chart.panels[0].valueAxes[0].guides=guides[d];
        //alert(chart.dataProvider[0]);
        // chart.validateData();
        //chart.animateAgain();  //只适用于serial
        chart.validateNow();
        //chart.write("chartdiv");
        //alert("1");
    }



    //animate 进度条动态
    function animate(a, b) {

        $("#proRate_rate").css("width", a + "%");
        var proText = "进度";
        proText += a + "%";
        proText += "，距离计划结束还有" + b + "天";
        $("#proRate_text").text(proText);
    }



    //hookBtn 计划切换
    function hookBtn(id) {
        var length = $("#thumbs li").length - 2;
        var temp_index = index;
        if (id == 'play_prev') {
            index--;
            if (index < 0) {
                index = 0; //维持不变，提示已是最新
                //$("#popupBasic").popup("open");	
                //setTimeout(function(){$("#popupBasic").popup("close");},1000);
                $("#li_play_prev").css("visibility", "hidden");
            }
            else {
                if (index == 0) $("#li_play_prev").css("visibility", "hidden");
                else {
                    $("#li_play_prev").css("visibility", "visible");
                }

                $("#li_play_next").css("visibility", "visible");
                rechange(temp_index, index);
            }
        }
        else {
            index++;
            if (index > length) {
                index = length - 1;  //维持不变alert(index);
                //$("#popupBasic").popup("open");	
                // setTimeout(function(){$("#popupBasic").popup("close");},1000);
                $("#li_play_prev").css("visibility", "hidden");
            }
            else {
                if (index == length - 1) $("#li_play_next").css("visibility", "hidden");
                else {
                    $("#li_play_next").css("visibility", "visible");
                }
                $("#li_play_prev").css("visibility", "visible");
                rechange(temp_index, index);
            }
        }

    }

    //刷新计划显示内容
    function rechange(pre, loop) {

        //计划列表内的显示与隐藏
        var pre_id = 'thumb_' + pre;
        $("#" + pre_id).css("display", "none");

        var id = 'thumb_' + loop;

        $("#" + id).css("display", "block");
        var name = $("#" + id).attr("name");

        if (name == "") {
            //当前无正在执行的计划
            $("#alertText").text("当前没有正在执行的计划");
            $("#graph_loading").css("display", "none");
            $("#load_after").css("visibility", "hidden");
            $("#load_first").css("display", "block");
            $("#alertText").css("display", "block");
        }
        else {

            //$("#load_after").css("visibility","hidden");
            //$("#graph_loading").css("display","block");
            var PatientId = document.getElementById("UserId").value;
            GetImplementationForPadSecond(PatientId, name);
        }
    }

    //GetImplementationForPadSecond
    function GetImplementationForPadSecond(PatientId, PlanNo) {
        //需要重新画图，改变chart、guide
        $.ajax({
            type: "POST",
            dataType: "json",
            url: '/PatientInfo/GetImplementationForWebSecond',
            //async:false,
            data: { PatientId: PatientId,
                PlanNo: PlanNo
            },
            beforeSend: function () {
                $("#load_first").css("display", "block");
                $("#load_after").css("visibility", "hidden");
                $("#detail_plan").css("visibility", "hidden");
                $("#alertTextDiv").css("display", "none");
                $("#noGragh").css("display", "none");
                $("#graph_loading").css("display", "block");
            },
            success: function (data) {

                //进度      
                animate(data.ProgressRate, data.RemainingDays);
                $("#CompliacneValue").text(data.CompliacneValue);


                //任务列表-肯定有
                $('.leftmenu').find("dd").remove();
                if ((data.TaskList !== null) && (data.TaskList.length > 0)) {
                    var str_li_task = '';
                    for (var i = 0; i < data.TaskList.length; i++) {
                        if (data.TaskList[i].TaskType == "VitalSign") {
                            str_li_task += '<dd><div class="title"><span><img src="../../Content/Image/leftico01.png" /></span>体征测量</div><ul class="menuson">';
                        }
                        else if (data.TaskList[i].TaskType == "LifeStyle") {
                            str_li_task += '<dd><div class="title"><span><img src="../../Content/Image/leftico01.png" /></span>生活方式</div><ul class="menuson">';
                        }
                        else {
                            str_li_task += '<dd><div class="title"><span><img src="../../Content/Image/leftico01.png" /></span>用药任务</div><ul class="menuson">';
                        }

                        for (var j = 0; j < data.TaskList[i].TaskDeatilList.length; j++) {
                            str_li_task += ' <li><cite></cite>' + data.TaskList[i].TaskDeatilList[j].TaskName + '</li>';
                            if (data.TaskList[i].TaskDeatilList[j].Instruction != "") {
                                str_li_task += ' <li class="instruction">' + data.TaskList[i].TaskDeatilList[j].Instruction + '</li>';
                            }
                        }
                        str_li_task += '</ul></dd>';

                    }
                    $('.leftmenu').append(str_li_task);
                }


                if ((data.chartData !== null) && (data.chartData.graphList.length > 0))   //有图表数据
                {
                    for (var m = 0; m < data.chartData.graphList.length; m++) {

                        var regS = new RegExp("noncomplete", "g");
                        data.chartData.graphList[m].drugDescription = data.chartData.graphList[m].drugDescription.toString().replace(regS, "✘");
                        var regS1 = new RegExp("complete", "g");
                        data.chartData.graphList[m].drugDescription = data.chartData.graphList[m].drugDescription.toString().replace(regS1, "✔");
                        var regS2 = new RegExp("###", "g");
                        data.chartData.graphList[m].drugDescription = data.chartData.graphList[m].drugDescription.toString().replace(regS2, "'");
                        var regS3 = new RegExp("amcharts-images/drug.png", "g");
                        data.chartData.graphList[m].drugBullet = data.chartData.graphList[m].drugBullet.toString().replace(regS3, "../../Content/Image/drug.png");

                    }
                    guides = data.chartData.BPGuide; //guide需要传出
                    createStockChart(data.chartData.graphList, 0);

                    $("#graph_loading").css("display", "none");
                    $("#alertTextDiv").css("display", "none");
                    $("#load_first").css("display", "block");
                    $("#load_after").css("visibility", "visible");
                    $("#detail_plan").css("visibility", "visible");

                }
                else //有任务、无图表数据
                {
                    //$("#alertText").text("计划内无数据");$("#alertTextDiv").css("display", "block");
                    $("#graph_loading").css("display", "none");
                    $("#load_first").css("display", "block");
                    $("#noGragh").css("display", "block");
                    $("#detail_plan").css("visibility", "hidden");
                    $("#load_after").css("visibility", "visible");

                }

            },
            error: function (msg) { alert("Error!"); },
            complete: function () {

            }
        });
    }
  

    </script>